<footer class="footer">
  <section class="newsletter">
    <div class="container">
      <div class="newsletter__wrapper">
        <h3 class="newsletter__text">
          Create a new generation website for your business.
        </h3>
        <div class="newsletter__email">
          <input
            type="text"
            class="newsletter__txt"
            placeholder="Email address"
          />
          <button class="newsletter__btn">
            <img src="images/right-arrow.svg" />
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="copy-right">
    <div class="container">
      <div class="copy-right__wrapper">
        <p class="copy-right__text">Copyright © 2022-2023</p>
        <p class="copy-right__text">
          Designed by Saeed Abdollahi - All rights reserved
        </p>
      </div>
    </div>
  </section>
</footer>
