<section class="header-top">
  <nav class="nav">
    <div class="nav-logo">
      <img src="images/Interactive-ART.png" alt="logo" class="nav-logo__img" />
    </div>
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="#">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">About</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">How it works</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Clients</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Portfolio</a>
      </li>
    </ul>
  </nav>
  <a href="#" class="header__link">Contact Us</a>
</section>
