<section class="header-bottom">
  <div class="header-content">
    <div class="header-content__left">
      <div class="header-content__wrapper">
        <h1 class="header-content__title">
          Create a new generation website for your business
        </h1>
        <p class="header-content__text">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
        </p>
        <div class="header-content__links">
          <a href="#" class="header-content__link">Contact Us</a>
          <a href="#" class="header-content__link">See our works</a>
        </div>
      </div>
    </div>
    <div class="header-content__right">
      <img src="images/header-img.svg" class="header-content__img" />
    </div>
  </div>
</section>
