<section class="portfolio">
  <div class="container">
    <h5 class="portfolio__text">PORTFOLIO</h5>
    <h2 class="portfolio__title">
      Three Simple Step To Started Working Process
    </h2>
    <div class="portfolio-items">
      <div class="portfolio__item">
        <img
          src="images/portfolio-1.jpg"
          alt="portfolio"
          class="portfolio__img"
        />
      </div>
      <div class="portfolio__item">
        <img
          src="images/portfolio-2.jpg"
          alt="portfolio"
          class="portfolio__img"
        />
      </div>
      <div class="portfolio__item">
        <img
          src="images/portfolio-3.jpg"
          alt="portfolio"
          class="portfolio__img"
        />
      </div>
      <div class="portfolio__item">
        <img
          src="images/portfolio-4.jpg"
          alt="portfolio"
          class="portfolio__img"
        />
      </div>
      <div class="portfolio__item">
        <img
          src="images/portfolio-5.jpg"
          alt="portfolio"
          class="portfolio__img"
        />
      </div>
      <div class="portfolio__item">
        <img
          src="images/portfolio-6.jpg"
          alt="portfolio"
          class="portfolio__img"
        />
      </div>
    </div>
  </div>
</section>
