<section class="works">
  <div class="container">
    <h5 class="works__text">How it Work</h5>
    <h2 class="works__title">Three Simple Step To Started Working Process</h2>
    <div class="works-content">
      <div class="works-content__item">
        <h4 class="works-content-title">Research Project</h4>
        <p class="works-content-text">
          There are many variations of passages of Lorem Ipsum available
        </p>
      </div>
      <div class="works-content__item">
        <h4 class="works-content-title">Research Project</h4>
        <p class="works-content-text">
          There are many variations of passages of Lorem Ipsum available
        </p>
      </div>
      <div class="works-content__item">
        <h4 class="works-content-title">Research Project</h4>
        <p class="works-content-text">
          There are many variations of passages of Lorem Ipsum available
        </p>
      </div>
    </div>
    <div class="works-img">
      <img src="images/main-img.svg" class="works-img__img" />
    </div>
  </div>
</section>
